<% if session[:player] == 'player1' %>
  <pre><%= $game.opponent_board_view $game.player_1 %></pre>
<% else %>
  <pre><%= $game.opponent_board_view $game.player_2 %></pre>
<% end %>

Enter Fire Coordinates
</br>
<%= @ship_state %>
<form action="/shoot" method="post">
  <input type="text" name="fire_coordinate">
  <input type="submit" value="Fire!">
</form>

<% if session[:player] == 'player1' %>
  <pre><%= $game.own_board_view $game.player_1 %></pre>
<% else %>
  <pre><%= $game.own_board_view $game.player_2 %></pre>
<% end %>
